<div style="border: 1px solid #ccc; border-radius: 5px; padding: 10px; width: 300px; height: max-content;">
    <div style="font-size: 20px; font-weight: bold; margin-bottom: 10px;">Details produits: {{prod.nom}}</div>
    <div style="margin-bottom: 10px;">
        <img src="{{prod.img}}" alt="" style="width: 100%;">
    </div>
    <div style="display:flex; margin-bottom: 10px;">
        <p class="fw-bold" style="margin-right: 10px;">Nom: </p>{{prod.nom}}
    </div>
    <div style="display:flex; margin-bottom: 10px;">
        <p class="fw-bold" style="margin-right: 10px;">Prix: </p>{{prod.prix}}
    </div>
    <div style="display:flex; margin-bottom: 10px;">
        <p class="fw-bold" style="margin-right: 10px;">Description: </p>{{prod.description}}
    </div>
</div>
